<!--  Essential META Tags -->
<meta property="og:title" content="Antonio Fregoso">
<meta property="og:description" content="Árbol de enlaces de Antonio Fregoso. Especialista en Transformación Digital políticamente incorrecta.">
<meta property="og:image" content="{{ url_for('static', filename='img/antonio-fregoso.png') }}">
<meta property="og:url" content="https://hola.antoniofregoso.com">
<meta name="twitter:card" content="summary_large_image">
<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="Antonio Fregoso">
<meta name="twitter:image:alt" content="Transformación Digital Políticamente Incorrecta">	
<meta name="twitter:site" content="@antoniofregoso">   
