    <meta name="robots" content="index"/>
    <meta name="author" content="Antonio Fregoso" />
    <meta name="copyright" content="Antonio Fregoso" />
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="Offering tour packages for individuals or groups.">
    <meta property="og:image" content="https://www.conco.com.mx/static/img/conco.jpg">
    <meta property="og:url" content="https://www.conco.com.mx">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Mis Enlaces">
    <meta name="twitter:image:alt" content="Antonio Fregoso">	
    <meta name="twitter:site" content="@antoniofregoso">
