@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
$fa-font-path:  "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Set your brand colors
$af-color: #333333;
// Update Bulma's global variables
$family-sans-serif: 'Play', sans-serif;

// Update some of Bulma's component variables
$body-background-color: $af-color;

article {
    padding-top: 15px;
}

.touchpoint {
    max-width: 700px;
    margin: auto;
    color: $af-color;
    &:hover {
        color:#fff;
        background-color: $af-color;
        border: 2px solid white;
    }
}
.is-avatar {
    border: 2px solid white;
}

.is-nice {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    width:200px;
}

footer {
    p {
        color:rgba(255,255,255,0.7);
    }
    a {
        color:#fff;
    &:hover {
        color:rgba(255,255,255,0.7);
    }
}
}

$section-padding: 1.0rem 1.5rem;
$box-padding: 0.2rem 1.5rem 0.2rem 1.5rem;
$footer-padding: 1.0rem 1.0rem;
$footer-background-color: $af-color;
$footer-color: #fff;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";



