{% extends "base.html" %}

{% block content %}

    <article data-animation="lightSpeedInRight" >
        <a class="box touchpoint py-1">
            <div class="media">
                <div class="media-content">
                    <div class="content pt-2">
                        ¿Estas suscrito a mi canal de Youtube?
                    </div> 
                </div>
                <div class="media-right">
                    <img src="{{ url_for('static', filename='img/youtube.jpg') }}" class="image is-48x48 is-nice">
                </div>
            </div>
        </a>
    </article>

    <article  data-animation="lightSpeedInLeft" >
        <a class="box touchpoint py-1" href="https://soundcloud.com/antoniofregoso">
            <div class="media">
                <div class="media-content">
                    <div class="content pt-2">
                        Mi podcast en SoundCloud
                    </div> 
                </div>
                <div class="media-right">
                    <img src="{{ url_for('static', filename='img/soundcloud.jpg') }}" class="image is-48x48 is-nice">
                </div>
            </div>
        </a>
    </article>
    <article data-animation="lightSpeedInRight" >
        <a class="box touchpoint py-1">
            <div class="media">
                <div class="media-content">
                    <div class="content pt-2">
                        Mi podcast en Spotify
                    </div> 
                </div>
                <div class="media-right">
                    <img src="{{ url_for('static', filename='img/spotify.jpg') }}" class="image is-48x48 is-nice">
                </div>
            </div>
        </a>
    </article>



    <article data-animation="lightSpeedInLeft" >
            <a class="box touchpoint py-1" href="https://antoniofregoso.com/blog/cultura-digital-1">
                <div class="media">
                    <div class="media-content">
                        <div class="content pt-2">
                            Mi blog sobre Cultura Digital
                        </div> 
                    </div>
                    <div class="media-right">
                        <img src="{{ url_for('static', filename='img/cultura_digital.jpg') }}" class="image is-48x48 is-nice">
                    </div>
                </div>
            </a>
    </article>

    <article data-animation="lightSpeedInRight" >
        <a class="box touchpoint py-1" href="https://antoniofregoso.com/blog/transformacion-digital-2">
            <div class="media">
                <div class="media-content">
                    <div class="content pt-2">
                        Mi blog sobre Transformación Digital
                    </div> 
                </div>
                <div class="media-right">
                    <img src="{{ url_for('static', filename='img/transformacion_digital.jpg') }}" class="image is-48x48 is-nice">
                </div>
            </div>
        </a>
    </article>

    <article data-animation="lightSpeedInLeft" >
        <a class="box touchpoint py-1" href="https://antoniofregoso.com/blog/marketing-digital-3">
            <div class="media">
                <div class="media-content">
                    <div class="content pt-2">
                        Mi blog sobre Marketing Digital
                    </div> 
                </div>
                <div class="media-right">
                    <img src="{{ url_for('static', filename='img/marketing_digital.jpg') }}" class="image is-48x48 is-nice">
                </div>
            </div>
        </a>
    </article>
    <article data-animation="lightSpeedInRight" >
        <div class="box touchpoint py-2">
            <div class="media">
                <div class="media-content">
                    <div class="content">
                        Apuntate en mi newsletter VIP
                    </div> 
                    {% if form2 %}
                    <form action="" method="post">
                        {{ form2.hidden_tag() }}
                        <div class="field  has-addons">                           
                            <div class="control is-expanded has-icons-left has-icons-right">
                            {{ form2.email(size=64, class="input", placeholder="Tu correo")}}
                            <span class="icon is-left">
                                <i class="fas fa-envelope"></i>
                              </span>
                              <span class="icon is-medium is-right">
                                <i class="fas fa-check fa-xs"></i>
                              </span>
                            {% for error in form2.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            </div>
                            <div class="control">
                                {{ form2.submit(class="button is-fullwidth") }}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

    <article data-animation="lightSpeedInLeft" >
        <div class="box touchpoint py-2">
            <div class="media">
                <div class="media-content">
                    <div class="content">
                        Contacto
                    </div> 
                    {% if form %}
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                {{ form.name(size=32, class="input", placeholder="Tu nombre")}}
                                <span class="icon is-left">
                                    <i class="fas fa-address-card"></i>
                                  </span>
                                  <span class="icon is-medium is-right">
                                    <i class="fas fa-check fa-xs"></i>
                                  </span>
                                {% for error in form.name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                {{ form.email(size=64, class="input", placeholder="Tu correo")}}
                                <span class="icon is-left">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                                  <span class="icon is-medium is-right">
                                    <i class="fas fa-check fa-xs"></i>
                                  </span>
                                {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                {{ form.message(cols=32, rows=4,  class="textarea", placeholder="¿En qué puedo ayudarte?")}}
                                {% for error in form.message.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="field ">
                                <div class="control  is-expanded">
                                    {{ form.submit(class="button is-fullwidth") }}
                                </div>
                            </div>
                        </form>
                        {% endif %}
                   
                </div>
            </div>
        </div>
    </article>
{% endblock %}